<!DOCTYPE html>
<html>
  <head><title><%= title %></title></head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="/artists">Browse Artists</a></li>
      <li><a href="/tracks">Browse Tracks</a></li>
    </ul>
  </body>
</html>