<h1>Add New Track</h1>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<form action="/tracks/create" method="POST">
  <label for="title">Track title:</label>
  <input type="text" name="title" id="title" required><br>

  <label for="duration">Duration (seconds):</label>
  <input type="number" name="duration" id="duration"><br>

  <label for="album_id">Album:</label>
  <select name="album_id" id="album_id">
    <option value="">-- None (Single) --</option>
    <% albums.forEach(al => { %>
      <option value="<%= al.album_id %>"><%= al.title %></option>
    <% }) %>
  </select><br>

  <label for="artist_ids">Artist(s):</label>
  <select id="artist_ids" name="artist_ids" multiple="multiple" style="width: 300px;">
    <% artists.forEach(artist => { %>
      <option value="<%= artist.artist_id %>"><%= artist.name %></option>
    <% }) %>
  </select>
  <br>

  <button type="submit">Add Track</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Activate Select2 -->
<script>
  $(document).ready(function() {
    $('#artist_ids').select2({
      placeholder: 'Search and select artist(s)',
      allowClear: true
    });
  });
</script>
